* {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-dark, #403f3d);
  background: var(--background-body, #e1d4c9);
  font-feature-settings:
    'clig' off,
    'liga' off;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.enjoy {
  margin-bottom: 100px;
}

.title {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.title-accent {
  font-style: italic;
  color: var(--text-accent, #b0907a);
}

/* enjoy */

.enjoy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 40px;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  padding: 100px;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
}

.items {
  position: relative;
  display: flex;
  width: 530px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  color: var(--text-light, #e1d4c9);
  margin-bottom: 40px;
}

.text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-light, #e1d4c9);
  margin-bottom: 40px;
}

.btn-link {
  display: flex;
  width: 200px;
  padding: 20px 78px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--background-body, #e1d4c9);
}

.link-text {
  position: relative;
  left: 25%;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  transition: 0.5s ease;
}

.link-img {
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease;
}
